@font-face {
	font-family: 'AliBaBa';
	src: url('../assets/fonts/AlimamaShuHeiTi-Bold.ttf');
	font-display: swap;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-family: 'AliBaBa', 'PingFang SC', 'Helvetica Neue', Arial, sans-serif;
}
